@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.header {
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}
ul {
    list-style: none;
}

.nav-menu {
    width: 80%;
    display: block;
    margin: auto;
}

.link1, .link2 {
    background: red;
    width: 40%;
    text-align: center;    
}

.playerCard {
    width: 80%;
    height: 250px;
    display: block;
    margin: auto;
    border: 2px solid red;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.playerName {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 70%;
    float: right;
    border-bottom: 2px solid red;
}
.position {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    width: 70%;
    float: right;
    clear: both;
}

.squadNum {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    width: 70%;
    clear: both;
    float: right;
}

.squadPic {
    border-radius: 10px;
    border: 2px solid black;
    width: 200px;
} 

.deleteBtn {
    margin-top: 10px;
    margin-right: 10px;
    clear: both;
    float: right;
    background: red;
    color: white;
    border-radius: 5px;
}

a:hover, a:visited, a:active {
    color: black
}